.überschrift {
  display: flex;
  position: relative;
  height: 100px; /* nur zur Demo */
  padding: 10px 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 4px 4px 4px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.eins {
  display: flex;
  position: relative;
  height: 100px;
  padding: 10px 10px;
}

.drei {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
a {
  text-decoration: none;
  color: white;
}
body {
  background-color: #00354d;
}
.center h1 {
  color: white;
}
.drei h1 {
  color: white;
}

.container {
  /* variablen -> var die man immer wieder benutzen kann*/
  /*abstand zwischen fotos*/
  --gap: 250px;
  /*wie viele columns es in der grid gibt*/
  --num-cols: 2;
  /* höhe von dem row bzw foto*/
  --row-height: 500px;

  box-sizing: border-box;
  /* abstand drumherum des foto*/
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}
/* pfeil bedeutet element direkt unter klasse*/
.container img {
  position: relative;
  width: 100%;
  height: 100%;
  /* indem wir das image getargetet haben,
   haben wir dem image gesagt das der die höhe und breite der tabelle zu 100% einnehmen soll*/
  object-fit: contain;
  transition: transform 0.3s ease;
}
.container h3 {
  padding: 5px 10px;
  position: absolute;
  left: 510px;
  top: 320px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline;
  text-shadow: 4px 4px 4px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
}
.Auto {
  --gap: 250px;
  /*wie viele columns es in der grid gibt*/
  --num-cols: 1;
  /* höhe von dem row bzw foto*/

  /* abstand drumherum des foto*/
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(var(--num-cols));
  gap: var(--gap);
}

.Auto > img {
  position: relative;
  left: 350px;
  bottom: 150px;
  opacity: 0;
  transform: translateY(20px);
  /*definierter name für @keyframe das er den erkennt*/
  animation: fadeInUp 1s ease-out forwards;
}
@keyframes fadeInUp {
  /* am ende der animation*/
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.auto-text {
  padding: 5px 10px;
  position: absolute;
  left: 550px;
  top: 600px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 0;
  transform: translateY(20px);
  /*definierter name für @keyframe das er den erkennt*/
  animation: fadeInUp 1s ease-out forwards;
}

.image {
  transition: transform 0.3s ease;
}
.image img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.image h3:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
  cursor: pointer;
}
