.überschrift {
  display: flex;
  position: relative;
  height: 100px; /* nur zur Demo */
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.eins {
  display: flex;
  position: relative;
  height: 100px;
}

.drei {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
a {
  text-decoration: none;
  color: white;
}
body {
  background-color: #00354d;
}
.center h1 {
  color: white;
}
.drei h1 {
  color: white;
}


.container {
  /* variablen -> var die man immer wieder benutzen kann*/
  /*abstand zwischen fotos*/
  --gap: 16px;
  /*wie viele columns es in der grid gibt*/
  --num-cols: 4;
  /* höhe von dem row bzw foto*/
  --row-height: 300px;
  
  box-sizing: border-box;
  /* abstand drumherum des foto*/
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}
/* pfeil bedeutet target wir wisieren genau dieses image an*/
.container > img{
  width: 100%;  
  height: 100%;
  /* indem wir das image getargetet haben,
   haben wir dem image gesagt das der die höhe und breite der tabelle zu 100% einnehmen soll*/
object-fit: cover;

}
